html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet', integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        title Fixtures
    body
   - var templates =0;
        table(class='table fixtures')
            thead
            th Tournament
            th HT
            th AT
            th Prediction_Forbet
            th Prediction_Vitisport
            th Match Result
            th Settings
            for fixture in fixturesWithAllPredictions
                tr(style='background-color:gray')
                    td!= fixture.natLeague
                    td!= fixture.homeTeamName
                    td!= fixture.awayTeamName
                    td!= fixture.predictionForebet
                    td!= fixture.predictionVitisport
                    td!= fixture.result
                    td
                        i(class='edit fa fa-pencil', onclick='editItem('+fixture.result+')', style='float:left')
                        i(class='remove fa fa-times', style='float:right')
                   
    
    