html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet', integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        title Fixtures
    body
        table(class='table fixtures')
            thead
            th Date
            th Tournament
            th HT
            th AT
            th Prediction_Forbet
            th Prediction_Vitisport
            th Result
            for fixture in fixturesWithAllPredictions
                tr  
                    td!= fixture.date
                    td!= fixture.natLeague
                    td!= fixture.homeTeamName
                    td!= fixture.awayTeamName
                    td!= fixture.predictionForebet
                    td!= fixture.predictionVitisport
                    td!= fixture.result